name: Build APK

on:
  push:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    # Java 17 (обязательно)
    - name: Setup Java 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    # Android SDK
    - name: Setup Android SDK
      uses: android-actions/setup-android@v3

    # ✅ NDK через sdkmanager (НАДЁЖНО)
    - name: Install Android NDK r21e
      run: |
        sdkmanager "ndk;21.3.6528147"

    # Зависимости
    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install -y \
          python3-pip \
          python3-setuptools \
          python3-wheel \
          git \
          zip \
          unzip \
          libffi-dev \
          libssl-dev \
          cython3

    # Buildozer
    - name: Install Buildozer
      run: |
        pip3 install --user buildozer
        echo "$HOME/.local/bin" >> $GITHUB_PATH

    # Лицензии
    - name: Accept Android licenses
      run: yes | sdkmanager --licenses

    - name: Prepare app
      run: |
        buildozer init

        sed -i 's/title = My Application/title = TestApp/' buildozer.spec
        sed -i 's/package.name = myapp/package.name = testapp/' buildozer.spec
        sed -i 's/package.domain = org.test/package.domain = org.example/' buildozer.spec
        sed -i 's/requirements = python3/requirements = python3,kivy/' buildozer.spec

        cat <<EOF > main.py
        from kivy.app import App
        from kivy.uix.label import Label

        class TestApp(App):
            def build(self):
                return Label(text="Hello from APK")

        TestApp().run()
        EOF


    # Сборка
    - name: Build APK
      run: buildozer android debug

    # Артефакт
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: apk
        path: bin/*.apk
