name: Build with Docker

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Build with Kivy Docker
      run: |
        docker run --rm \
          -v ${{ github.workspace }}:/src \
          -v ~/.buildozer:/home/user/.buildozer \
          kivy/kivy:android \
          bash -c "cd /src && buildozer android debug"
        
    - uses: actions/upload-artifact@v4
      with:
        name: apk
        path: bin/*.apk